body {
    background: #ffffff !important;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbatron{
    background-image: url("/Content/Images/background.jpg") ;
}

.selectedrow{
    background-color: #fbf083;
}

.nav{
   color: #b12525 ;
}
a:link {
    color: #b12525;
}
a:visited {
  color: #b12525;
}

/* selected link */
a:active {
    color: #9a3a3a;
}
.tableheader{
    background: #b12525;
    color:white;
}

.tableheader a { color: white !important; } 
.tableheader a:hover { color: white !important; }
.tableheader a:visited { color: white !important; }
.tableheader a:active { color: white !important; }

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #d1d1d1; 
} 
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   
   background-color: #ffffff; 
}

.table-striped > tbody > tr > .success,
.table-striped > tbody > .success > td,
.table-striped > tbody > .success > th {
   background-color: #fbf083 !important;
   /*border-top-style:solid !important;
   border-top-width:medium !important;
   border-bottom-width:medium !important;
   border-bottom-style: solid !important;
   border-top-color:black !important;
   border-bottom-color:black !important;*/
}

#orderRows
{
    margin-left:17%;
}


