@{
    ViewBag.Title = "Stream One Interface";
}

@*<div class="jumbotron">
    <h1>Ricoh Sverige</h1>
    <p class="lead">Stream One Interface</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Manage Orders</a></p>
</div>*@

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img class="img-responsive" src="~/Content/Images/cloud.png" alt="Ricoh Cloud">
        @*<h2>Products</h2>
        <p>
            Manage products
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
</div>